<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1> <%=title %> </h1>
    <a href="/board/write">글쓰기</a>
    <table border="1">
        <tr>
            <td>번호</td>
            <td>작성자</td>
            <td>제목</td>
            <td>조회수</td>
            <td>수정일</td>
            <td>등록일</td>
        </tr>
        <!-- 렌더링 된 row에 길이를 가져옴. for문으로 데이터에 행만큼 리스트를 출력.-->
        <%
        for(var i=0; i<rows.length; i++)
        {
            let data = rows[i];            
        %>
        <!--데이터를 보기 쉽게 하려고 data 변수에 담은것 
            data.변수로 해당 SQL문에 컬럼 이름으로 가져옴. -->
        <tr>
            <td><%=data.idx%></td>
            <td><%=data.name%></td>
            <td><a href="/board/read/<%=data.idx%>"><%=data.title%></a></td>
            <td><%=data.hit%></td>
            <td><%=data.modidate%></td>
            <td><%=data.regdate%></td>
        </tr>
        <%}%>
        <!-- 반복문 종료 -->
    </table>
</body>
</html>