<!DOCTYPE html>
<!-- 글을 확인하는 글 상세 파일을 생성함. 리스트에 데이터를 클릭할 때 자세히 확인할 수 있는 페이지 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1><%=title%></h1>

    <!-- method로 post를 지정해줘야 함.
    폼은 /board/update로 전송해서 수정기능으로 보냄. -->
    <form action="/board/update" method="post">
        <table border="1">
            <!-- 여기까지 row값 및 row.idx가 잘 들어오는 것까지 확인됨. -->
            <!-- ... vaule에도 넣어줘야 넘어가는군...  -->
            <input type="hidden" name="idx" id="<%=row.idx%>" value="<%=row.idx%>"/>
            <tr>
                <td>작성자</td>
                <td><input type="text" name="name" id="name" value="<%=row.name%>" required/></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text" name="title" id="title" value="<%=row.title%>" required/></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><img src="../public/img/고양이.jpg" alt="img" width=40vw/><br><textarea name="content" id="content" required><%=row.content%></textarea></td>
            </tr>
            <tr>
                <td>패스워드</td>
                <td><input type="password" name="passwd" id="passwd" required/></td>
            </tr>
            <tr>
                <td>변경일</td>
                <td><%=row.modidate%></td>
            </tr>
            <tr>
                <td>등록일</td>
                <td><%=row.regdate%></td>
            </tr>
            <tr>
                <td>조회수</td>
                <td><%=row.hit%></td>
            </tr>
            <tr>
                <td colspan="2">
                    <!-- 해당 글을 수정할 수 있는 URI로 이동함. 폼태그에 action의 주소로 이동함. -->
                    <button type="submit">글 수정</button>
                    <!-- 해당 글을 삭제할 수 있는 URI로 이동함. input 태그에 formaction으로 이동함. -->
                    <!-- formaction은 HTML5 태그임. -->
                    <button type="submit" formaction="/board/delete">글 삭제</button>
                    <a href="/board/list">목록</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>