<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>목록 추가</h1>
    <hr>

    <form action="/board" method="post">
        <table>
            <tr>
                <td><input type="text" name="inputTitle" placeholder="제목을 입력하세요"></td>
            </tr>
            <tr>
                <td><input type="text" name="inputWriter" placeholder="작성자를 입력하세요"></td>
            </tr>
        </table>
        <input type="submit" value="전송">
    </form>
    <hr>

    <% for(let post of posts) { %>
        <table>
            <tr>
                <td>제목</td>
                <td>작성자</td>
                <td>작성일</td>
            </tr>
                <tr>
                    <td><%= post.title %></td>
                    <td><%= post.writer %></td>
                    <td><%= post.createdAt %></td>
                    <td><button><a href="/board/<%=post.id%>">수정</a></button></td>
                    <form action="/board/<%=post.id%>?_method=DELETE" method="post">
                        <td><input type="submit" value="삭제하기"/></td>
                    </form>
                </tr>
                <!-- 댓글 뿌려주는 뷰 -->
                <!-- 댓글이 없을 수 있으므로 if문으로 예외처리. 
                한 게시글에 댓글 여러개 있을 수 있으므로 반복문으로 댓글 출력 -->

                <form action="/reply/<%=post.id%>" method="post">
                    <tr>
                        <td><input type="text" name="replyWriter" placeholder="작성자를 입력하세요"></td>
                        <td><input type="text" name="replyContent" placeholder="내용을 입력하세요"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="댓글 등록"></td>
                    </tr>
                </form>
                <div>
                    <% if(post.replies){
                        for(let reply of post.replies){ %>
                        <tr>
                            <td><%= reply.dataValues.writer %></td>
                            <td><%= reply.dataValues.content %></td>
                        </tr>
                        <% } %>
                    <% } %>
                </div>

        </table>
        <hr>
    <% } %>
</body>
</html>